# Python bytecode / cache
__pycache__/
*.py[cod]
*.class

# Virtual environments
env/
venv/

# Logs and temporary files
*.log
*.tmp
*.bak

# VSCode settings
.vscode/

# OS/System files
.DS_Store
Thumbs.db
Desktop.ini
